body {
  background-color: #E3E3E3;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.centerInfo {
  text-align: center;
}

.searchBox {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10vh;
}

.box {
  width: 90%;
  margin: 20px auto;
  display: block;
  align-items: start;
}
@media (min-width: screen-md-min) {
  .box {
    width: 70%;
    display: flex;
  }
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.column {
  float: left;
  width: 50%;
}

.card {
  background-color: white;
  width: 40%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
  transition: 0.3s;
  margin: 20px auto;
  padding: 20px;
}
.card img {
  width: 70%;
  height: auto;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.grid {
  display: grid;
}

.grid-columns-4 {
  grid-template-columns: repeat(2, 1fr);
  margin: 20px;
}
.grid-columns-4 .choiceBold {
  font-weight: bold;
}
